@font-face {
  font-family: "GraphikThin";
  src: url("../fonts/Graphik-Font-Family/GraphikThin.otf") format("opentype");
}
@font-face {
  font-family: "GraphikThinItalic";
  src: url("../fonts/Graphik-Font-Family/GraphikThinItalic.otf")
    format("opentype");
}
@font-face {
  font-family: "GraphikRegular";
  src: url("../fonts/Graphik-Font-Family/GraphikRegular.otf") format("opentype");
}
@font-face {
  font-family: "GraphikRegularItalic";
  src: url("../fonts/Graphik-Font-Family/GraphikRegularItalic.otf")
    format("opentype");
}
@font-face {
  font-family: "GraphikMedium";
  src: url("../fonts/Graphik-Font-Family/GraphikMedium.otf") format("opentype");
}
@font-face {
  font-family: "GraphikMediumItalic";
  src: url("../fonts/Graphik-Font-Family/GraphikMediumItalic.otf")
    format("opentype");
}
@font-face {
  font-family: "GraphikBold";
  src: url("../fonts/Graphik-Font-Family/GraphikBold.otf") format("opentype");
}
@font-face {
  font-family: "GraphikBoldItalic";
  src: url("../fonts/Graphik-Font-Family/GraphikBoldItalic.otf")
    format("opentype");
}
@font-face {
  font-family: "GraphikSemibold";
  src: url("../fonts/Graphik-Font-Family/GraphikSemibold.otf")
    format("opentype");
}
@font-face {
  font-family: "GraphikSemiboldItalic";
  src: url("../fonts/Graphik-Font-Family/GraphikSemiboldItalic.otf")
    format("opentype");
}
@font-face {
  font-family: "GraphikBlack";
  src: url("../fonts/Graphik-Font-Family/GraphikBlack.otf") format("opentype");
}
@font-face {
  font-family: "GraphikBlackItalic";
  src: url("../fonts/Graphik-Font-Family/GraphikBlackItalic.otf")
    format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.SearchFormInputs::placeholder {
  color: "#4f4f5c";
  font-size: 18px;
  font-family: "GraphikRegular";
}
.NavFormInputs::placeholder {
  color: "#eaeaea";
  font-size: 18px;
  font-family: "GraphikRegular";
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  background-color: unset !important;
  background: transparent !important;
  background-image: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: unset !important;
  border-radius: 32px;
  /* max-width: 473px; */
}
